<div class="container">
  <%= erb :_nav_bar %>
  <br>
  <div class="row">
    <% @albums.each do |album| %>
    <div class="col-sm-6 col-md-4" style="height:480px">
      <div class="thumbnail" style="height:450px, width:200px">
        <div class="caption">
          <a href = "/album/<%= album.id %>"><h2><%= album.title.capitalize %></h2></a>
          Description: <p><%= album.description.capitalize %></p>
          Posted on: <p><%= album.created_at %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

